{% extends 'base.html' %}
{% block title %}
    register page
{% endblock title %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="username">Username</label>
            <br>
            <input type="text" name="username" id="username">
            <br>
            <label for="password1">Password</label>
            <br>
            <input type="text" name="password1" id="password1">
            <br>
            <label for="password2">Password verify</label>
            <br>
            <input type="text" name="password2" id="password2">
            <br>
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock content %}
